<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.statisticsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StatisticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3598ef46831c178b0bca8b3a9aa1894d29c4136b" />

        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.DescriptiveActivity"
            android:label="Descriptiva"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activities.ModelsActivity"
            android:label="Modelos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

    </application>

</manifest>